# Environments
backend/venv/
backend/.venv/
backend/env/
backend/.env
# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS Files
.DS_Store
Thumbs.db
